<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString"
            connectionString="Data Source=DESKTOP-T3QGD9G\SQLEXPRESS;Initial Catalog=LUGVeterinaria;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>